.App {
  background: #f5fafd;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

main {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .main-left {
    height: 100%;
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 20px;
      color: #656565;
    }
  }

  h1 {
    font-size: 50px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 25px;
    color: #323232;
  }
}

.main-column-container{
  display: flex;
  height: 100%;
}

.main-right {
  h2 {
    margin-bottom: 50px;
  }
}

.glow {
  height: 500px;
  width: 500px;
  background: brown;
  border-radius: 500px;
  position: absolute;
  bottom: -450px;
  left: 300px;
  position: absolute;
  background: rgba(104, 63, 249, 0.56);
  filter: blur(200px);
}
